.display-5 {
    text-align: center;
    font-weight: bold;
}

.todo {
    text-align: center;
}

.todoApp {
    margin-top: 20px;
}

body {
    height: 100%;
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1 1 auto
}

footer {
    color: rgb(255, 255, 255); 
    width: 100%;
    margin-top: auto;
}

footer a {
    text-decoration: none;
    color: rgb(184, 184, 184);
}

footer a:hover{
    color: rgb(255, 255, 255);
} 

.name {
    color: white;
}

.name:hover {
    color: rgb(39, 103, 240);
}

.footer-li {
    list-style-type: none;
    padding: 0;
}

/* .block {
    padding-left: 50px;
    padding-right: 50px;
} */